@charset "utf-8";
/* CSS Document */
.zoom{
	transition: transform .4s;
	}
.zoom:hover{
	transform: scale(1.2,1.2) ;
	}
.img {
	max-width: 100%;
	display:block;
	}
.gallery{
	display: grid;
	grid-template-columns: repead(3, 1fr);
	grap: 1rem;
	}
.gallery_item{
	position:relative;
	}
.gallery_item: :after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 0.3s;
	background-color: #89F16B;
	}
.gallery_item:hover::after{
	transform: translateY(0);
	}
.image-data{
	position: absolute;
	}